@use './styles.variables.scss' as *;

html {
  color: $white-basic;
  font-size: 8px;
}

body {
  margin: 0;
  font-family: 'JetBrains Mono', sans-serif;
  background-color: $bg-dark;
}

.header {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 40px auto 65px;

  &__text-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }

  &__title {
    font-size: 8em;
  }

  &__subtitle {
    margin-top: -6px;
    margin-left: 6px;
    color: $gray-basic;
    font-size: 3em;
  }
}

.navigation {
  margin: 8px 0 0 6px;

  &__list {
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    display: flex;
    height: 21px;
    font-size: 2em;
    gap: 5px;
  }

  &__icon {
    width: 21px;
    height: 21px;
    background-color: $white-basic;
  }
}

.app {
  display: flex;
  width: fit-content;
  min-height: 600px;
  margin: 0 auto;

  &__image-placeholder {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 450px;
    color: $gray-basic;
    border: 1px dashed $white-basic;
    border-radius: $default-border-radius;
    transition: all 0.2s;
    gap: 20px;

    &[data-drag='true'] {
      color: $white-basic;
      background-color: #272727
    }

    &[data-drag='true'] > div.image-file-icon {
      background-color: $white-basic;
    }
  }

  &__browse-file-button {
    width: calc(100% - 16px);
    margin: auto 8px 8px;
  }

  &__drag-and-drop-text {
    width: 220px;
    margin: auto;
    color: inherit;
    font-size: 3em;
    text-align: center;
  }

  &__start-tip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 350px;
    margin-top: 40px;
    margin-left: 100px;
    font-size: 4em;
    text-align: center;
  }

  &__loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 450px;
    min-height: 400px;
  }
}

.result {
  &__result-title {
    font-size: 4em;
  }

  &__image-continer {
    width: fit-content;
    height: fit-content;
  }

  &__image {
    object-fit: contain;
    max-width: 400px;
    max-height: 600px;
    border-radius: $default-border-radius;
  }

  &__data-container {
    display: flex;
    flex-direction: column;
    margin: -8px 0 0 25px;
    gap: 15px;
  }

  &__item-probability {
    font-size: 4em;
  }

  &__item-title {
    margin-left: 10px;
    color: $white-basic;
    font-size: 3em;
  }

  &__item-lat-titel {
    color: $gray-basic;
    font-size: 2em;
  }

  &__links-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    margin-top: 5px;
    gap: 15px;
  }

  &__icon-link {
    display: block;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: $green-basic;
    }
  }

  &__restart-button {
    margin-top: 40px;
  }
}