@use './styles.variables.scss' as *;

html {
  color: $white-basic;
  font-size: 8px;
}

body {
  margin: 0;
  font-family: 'JetBrains Mono', sans-serif;
  background-color: $bg-dark;
}

.header {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 40px auto 65px;

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
    width: 100%;
    margin: 10px auto 20px;
  }

  &__image {
    width: 150px;

    @media (max-width: $mobile-breakpoint) {
      width: 100px;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    @media (max-width: $mobile-breakpoint) {
      align-items: center;
      width: 100%;
    }
  }

  &__title {
    font-size: 8em;

    @media (max-width: $mobile-breakpoint) {
      width: fit-content;
      font-size: 4em;
    }
  }

  &__subtitle {
    margin-top: -6px;
    margin-left: 6px;
    color: $gray-basic;
    font-size: 3em;

    @media (max-width: $mobile-breakpoint) {
      width: fit-content;
      margin-left: 2px;
      font-size: 2em;
    }
  }
}

.navigation {
  margin: 8px 0 0 6px;

  @media (max-width: $mobile-breakpoint) {
    max-width: 90%;
    margin: 10px 0;
  }

  &__list {
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: $mobile-breakpoint) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__link {
    display: flex;
    height: 21px;
    font-size: 2em;
    gap: 5px;

    @media (max-width: $mobile-breakpoint) {
      font-size: 2em;
    }
  }

  &__icon {
    width: 21px;
    height: 21px;
    background-color: $white-basic;
  }
}

.app {
  display: flex;
  justify-content: center;
  width: fit-content;
  min-width: 600px;
  min-height: 600px;
  margin: 0 auto;

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    min-width: 100%;
  }

  &__image-placeholder {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 550px;
    margin-left: 60px;
    color: $gray-basic;
    border: 1px dashed $white-basic;
    border-radius: $default-border-radius;
    transition: all 0.2s;
    gap: 20px;

    &[data-drag='true'] {
      color: $white-basic;
      background-color: #272727
    }

    &[data-drag='true'] > div.image-file-icon {
      background-color: $white-basic;
    }

    @media (max-width: $mobile-breakpoint) {
      margin-left: 0;
    }
  }

  &__browse-file-button {
    width: calc(100% - 16px);
    margin: auto 8px 8px;
  }

  &__drag-and-drop-text {
    width: 250px;
    margin: auto;
    color: inherit;
    font-size: 3em;
    text-align: center;
  }

  &__start-tip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 350px;
    height: fit-content;
    margin-top: 80px;
    margin-left: 30px;
    font-size: 4em;
    text-align: center;

    @media (max-width: $mobile-breakpoint) {
      display: none;
    }
  }

  &__loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 600px;
    height: 300px;

    @media (max-width: $mobile-breakpoint) {
      min-width: 100%;
    }
  }
}

.result {
  &__result-title {
    font-size: 4em;

    @media (max-width: $mobile-breakpoint) {
      font-size: 2em;
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    height: fit-content;

    @media (max-width: $mobile-breakpoint) {
      align-items: center;
      min-width: 95%;
    }
  }

  &__image {
    object-fit: contain;
    max-width: 400px;
    max-height: 600px;
    border-radius: $default-border-radius;

    @media (max-width: $mobile-breakpoint) {
      display: none;
    }
  }

  &__data-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: -8px 0 0 25px;
    color: $gray-basic;
    gap: 15px;

    @media (max-width: $mobile-breakpoint) {
      order: -1;
      width: 85%;
      margin: 0 0 30px;
    }
  }

  &__item-probability {
    font-size: 3em;

    @media (max-width: $mobile-breakpoint) {
      font-size: 2em;
    }

    &[data-position='0'] {
      color: $green-basic;
      font-size: 4em;

      @media (max-width: $mobile-breakpoint) {
        font-size: 3em;
      }
    }

    &[data-position='1'] {
      color: $orange-basic;
    }

    &[data-position='2'] {
      color: $red-basic;
    }
  }

  &__item-title {
    margin-left: 10px;
    color: $white-basic;
    font-size: 3em;

    @media (max-width: $mobile-breakpoint) {
      font-size: 2em;
    }
  }

  &__item-lat-titel {
    color: $gray-basic;
    font-size: 2em;
  }

  &__links-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    margin-top: 5px;
    gap: 15px;
  }

  &__icon-link {
    display: block;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: $green-basic;
    }
  }

  &__restart-button {
    min-width: 200px;
    margin-top: 10px;

    @media (max-width: $mobile-breakpoint) {
      min-width: 95%;
    }
  }
}